$black_reg: #121212;
$darkblue_reg: #123b72;
$green_reg: #19816e;
$green_light: #20a088;
$purple_light: #bc9dee;
$orange_reg: #df8b2d;
$yellow_light: #eedd90;



$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $black_reg;
$color__link-visited: $black_reg;
$color__link-hover: $green_light;
$color__text-main: $black_reg;

$color__border-button: $black_reg;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_text_main: $black_reg;
$color_text_header: $black_reg;
$color__navigation_pre: #f9f9f9;
