$size__site-main: 100%;
$size__site-sidebar: 25%;

$mobile-width: 37.5rem; //600px
$tablet-width: 62.5rem; //1000px
$desktop-width: 87.5rem; //1400px

$container-small: 400px;
$container-medium: 630px;
$container-large: 960px;
$container-xlarge: 1290px;

$size-sm: 600px;
$size-md: 900px;
$size-lg: 1200px;
$size-xl: 1400px;
$size-xxl: 1600px;

$single-sm: 700px;
$single-md: 800px;
$single-lg: 1000px;
$single-xl: 1200px;
$single-xxl: 1400px;


$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
);

.container-nav{
  max-width: 75em;
  margin: 0 auto;
  padding: 0 0.5em;
}

.single-container{
  @include container($single-sm);
  @media screen and (min-width: $size-md) { @include container($single-md); }
  @media screen and (min-width: $size-lg) { @include container($single-lg); }
  @media screen and (min-width: $size-xl) { @include container($single-xl); }
  @media screen and (min-width: $size-xxl) { @include container($single-xxl); }
}
