$size__site-main: 100%;
$size__site-sidebar: 25%;

$susy: (
  columns: 12,
  gutters: 1/3,
  math: fluid,
  output: float,
  gutter-position: after,
);

$size-xs: 440px;
$size-sm: 640px;
$size-md: 900px;
$size-lg: 1200px;
$size-xl: 1400px;
$size-xxl: 1600px;
$size-mobile: $size-sm;


$nav-lg: 1200px;
$nav-xl: 1400px;
$nav-xxl: 1800px;

$single-sm: 100%;
$single-md: 600px;
$single-lg: 800px;
$single-xl: 1000px;
$single-xxl: 1200px;

$page-sm: 100%;
$page-md: 600px;
$page-lg: 800px;
$page-xl: 1000px;
$page-xxl: 1200px;

$index-xs: 400px;
$index-md: 700px;
$index-lg: 1000px;
$index-xl: 1300px;

$mobile-mainSize: 4em;
$nav-mainSize: 6.25em;
$nav-preSize: 3em;

.nav-container{
  @include container($nav-lg);
  @media screen and (min-width: $size-xl) { @include container($nav-xl); }
  @media screen and (min-width: $size-xxl) { @include container($nav-xxl); }
}

.page-container{
  @include container($page-sm);
  @media screen and (min-width: $size-md) { @include container($page-md); }
  @media screen and (min-width: $size-lg) { @include container($page-lg); }
  @media screen and (min-width: $size-xl) { @include container($page-xl); }
  @media screen and (min-width: $size-xxl) { @include container($page-xxl); }
}

.single-container{
  @include container($single-sm);
  @media screen and (min-width: $size-md) { @include container($single-md); }
  @media screen and (min-width: $size-lg) { @include container($single-lg); }
  @media screen and (min-width: $size-xl) { @include container($single-xl); }
  @media screen and (min-width: $size-xxl) { @include container($single-xxl); }
}

.index-container{
  @include container($index-xs);
  @media screen and (min-width: $size-sm) { @include container($index-md); }
  @media screen and (min-width: $size-lg) { @include container($index-lg); }
  @media screen and (min-width: $size-xl) { @include container($index-xl); }
}
