button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
}

.btn{
	display: inline-block;
	background: none;
	padding: 0;

	a{
		display: block;
		margin: 0;
		padding: 1em;
		text-decoration: none;
	}
}

.btn-yellow-light{
	border: 2px solid $yellow_light;
	a{
		color: $yellow_light;

		&:hover{
			color: $color__link;
			background-color: $yellow_light;
		}
	}
}
