button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	padding: .6em 1em .4em;
	transition: all 200ms ease-in-out;

	&:focus{
		outline: none;
	}
}

.btn{
	display: inline-block;
	background: none;
	padding: 0;

	a{
		display: block;
		margin: 0;
		padding: 1em;
		text-decoration: none;
	}
}

.btn-yellow-light{
	border: 2px solid $yellow_light;
	a{
		color: $yellow_light;

		&:hover{
			color: $color__link;
			background-color: $yellow_light;
		}
	}
}
