#home-welcome{
  @include clearfix();
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .welcome-bg{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    @media screen and (min-width: $size-sm){ min-height: calc(100vh - #{$nav-preSize}); }

    .dark-overlay{
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.15);
    }

        .text-area{
          @include text-stroke();
          position:absolute;
          margin: 0 1.25em;
          bottom: 15%;
          left: 0%;
          max-width: 45em;
          color: #f0f0f0;
          @media screen and (min-width: $size-sm){ left: 2.5%; }

          h1{
            font-size: 2em;
            margin:0 0 0.2em;
            @media screen and (min-width: $size-sm){ font-size: 2.4em; }
          }

          p{
            font-size: 1.25em;
            margin: 0 0 0.25em;
            @media screen and (min-width: $size-sm){ font-size: 1.5em; }
          }

        }//.text-area
  }

}//#home-welcome


.site-main{


  .home-title{
    display: block;
    position: relative;
    font-size: 2.8em;
    margin: 0 auto 0.75em;
    padding-bottom: 0.25em;
    text-transform: uppercase;

    &:after{
      @include centerX();
      display: block;
      content: '';
      width: 60%;
      top:100%;
      border-bottom: 1px solid #e0e0e0;
    }
  } //home-title




  #home-about{
    display: block;
    position: relative;
    padding: 5em 0;

  } //home-about


  #home-location{
    display: block;
    position: relative;
    padding: 5em 0;

    .location-wrap{
      @include container(31.25em);
      padding: 0.5em 1em;
      text-align: center;
      color: $purple_dark;
    }//.location-wrap

    p{ margin-top: 0; }

    .diagonal-line{
      position: absolute;
      top:0;
      z-index: -99999;
    }//.diagonal-line
  } //#home-location


  #home-resources{
    @include clearfix();
    height: 500px;
    display: block;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: $size-xs){
      height: 600px;
    }

    .carousel-bg{
      display:block;
      position: absolute;
      width: 100%;
      height: 200px;
      bottom:0;
      z-index:-999;
      @media screen and (min-width: $size-xs){
        height: 100%;
      }

      .carousel-bg-image{
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 100%;
        transition: left 200ms ease-in-out;

        &.initial{ left: 0; }

      }//.carousel-bg-image
    }//.carousel-bg

    .carousel-text-box{
      position:relative;
      width: 100%;
      height: 300px;
      background: #fff;
      overflow: hidden;
      z-index: 100;

      @media screen and (min-width: $size-xs){
        @include centerY();
        width: 340px;
        height: 450px;
        left: 15%;
        box-shadow: 3px 4px 15px -6px #000;
      }

      @media screen and (min-width: $size-xxl){
        width: 500px;
        left: 20%;
      }

      .carousel-text{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        .carousel-text-item{
          position: absolute;
          width: 100%;
          left: 100%;
          padding: 1.25em;
          transition: left 200ms ease-in-out;

          &.initial{ left:0;}

          h1{ margin:0 0 0.25em; }
          p{ margin: 0 0 0.5em; }
        }//.carousel-text-item
      }//.carousel-text

      .resource-nav{
        position: absolute;
        margin:0;
        padding:0;
        right:0; bottom:0;
        list-style: none;

        .resource-nav-item{
          display: inline-block;

          &.circle{
            padding: 1em;
            margin-right: 1em;
            border-radius: 50%;
            background: #bbb;
            cursor: pointer;
            transition: background-color 200ms ease-in-out;

            &.active{ background-color: $green_reg; }

          }//&.circle
        }//.resource-nav-item
      }//.resource-nav
    }//.carousel-text-box

    .text-block{
      @include span(4 of 12 0);
      overflow: hidden;
      z-index: 100;

      .resource-text{
        width: 100%;
        z-index: 100;

        &.active{ left:0; }

      }//.resource-text
    }//.text-block
  }//#home-resources



  #miscellaneous{
    background-color: #eee;

    .miscellaneous-wrap{
      @include container(50em);

      ul{
        @include span(12 of 12 0);
        margin: 0;
        padding: 1em;
        list-style: none;

        @media screen and (min-width: $size-sm){
          @include span(6 of 12 0);
        }

        .event-head,
        .index-head{
          margin: 0.5em;
        }

        li{
          border-bottom: 1px solid #e0e0e0;
          &:last-child{ border-bottom: none; }

          a{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 1em;
            color: #121212;
            text-decoration: none;
            background-color: transparent;
            &:hover{
              color: #f2f2f2;
              background-color: $green_light;
            }

            .event-title,
            .index-title{
              flex: 0 1 75%;
              margin: 0;
              font-weight: 400;
            }//title

            .event-date,
            .index-date{
              flex: 0 1 25%;
              font-size: 1.1em;

              .event-month-day,
              .event-year,
              .event-start,
              .event-end,
              .index-month-day,
              .index-year{
                display:block;
                text-align: center;
                margin-left: 0.5em;
              }
            }//date
          }//a
        }//li
      }//ul
    }//.miscellaneous-wrap
  }//#miscellaneous

} //site-main
