#home-featured{
  @include clearfix();
  position: relative;
  width: 100%;
  min-height: 500px;
  max-height: 1000px;
  height: calc( 100vh - #{$nav-mainSize} - #{$nav-preSize} );
  overflow: hidden;

  .image-slider{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 400ms ease-in-out;

    .image-dark{
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, transparent, transparent, #000);
    }

    img{
      @include featured-img();
    }

    .text-area{
      @include text-stroke();
      position:absolute;
      bottom: 15%;
      left: 5%;
      max-width: 50em;
      color: #f0f0f0;

      h1{
        font-size: 3em;
        margin:0 0 0.2em;
      }

      p{
        font-size: 1.5em;
        margin: 0 0 0.25em;
      }

    }//.text-area

    &.image-0{ left: 0; }
    &.image-1{ left: 100%; }
    &.image-2{ left: 200%; }
  }//.image-slider
} //home-featured




.site-main{

  .home-section{

    .home-title{
      display: block;
      position: relative;
      font-size: 2.8em;
      margin: 0 auto 0.75em;
      padding-bottom: 0.25em;
      text-transform: uppercase;

      &:after{
        @include centerX();
        display: block;
        content: '';
        width: 60%;
        top:100%;
        border-bottom: 1px solid #e0e0e0;
      }
    } //home-title

    p{
      margin-top: 0;
    }

    .home-wrap{
      max-width: 31.25em;
      margin: 0 auto;
      padding: 0.5em 0;
      text-align: center;
    }

  } //home-section


  #home-events{
    display: block;
    position: relative;
    background-color: $darkblue_reg;
    background: linear-gradient(to bottom, darken(#20a088,20%), #20a088);
    width: 100%;
    padding: 2em 0;
    color: #f2f2f2;

    .event-wrap{
      .event-title{
        margin: 0 0 1em;
        font-weight: 400;
        color: $yellow_light;
        text-align: center;
        text-shadow:3px 3px 5px #000;
      }
      article{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .event-image{
          margin-right: 1em;
          img{display: block;}
        }
        .event-info{
          padding: 1em;

          .entry-title{
            margin: 0 0 0.25em;
            a{
              color: #f2f2f2;
              text-decoration: none;
              &:hover{ color: $color__link-hover; }
            }
          }

          .event-date{
            .event-start{
              &:before{
                font-family: $font__awesome;
                content:'\f073';
                margin-right: 0.25em;
              }
            }//event-start
            .event-end{
              white-space:nowrap;
              &:before{
                font-family: $font__awesome;
                content:' - ';
              }
            }//event-end
          }//event-date

          .event-address{
            &:before{
              font-family: $font__awesome;
              content: '\f278';
              margin-right: 0.25em;
            }
          }//event-address

          .event-more{
            display: block;
            margin: 2em auto 1em;

            a{
              font-size: 1.25em;
              font-weight: 700;
              text-transform: uppercase;
              text-shadow: 1px 1px 2px #000;

              &:hover{
                text-shadow: none;
              }
            }
          }
        }//event-info
      }//article
    }//.event-wrap

    .events-title{
      margin-top: 0;
    }
  } //home-events

  #home-about{
    display: block;
    position: relative;
    padding: 5em 0;

    .diagonal-one{
      position: absolute;
      top:0;
      z-index: -99999;
    }
  } //home-about

  #home-location{
    display: block;
    position: relative;
    padding: 5em 0;

    .location-wrap{
      color: #f0f0f0;
    }

    .diagonal-two{
      position: absolute;
      top:-25%;
      z-index:-99999;
    }
  } //home-location

  #home-resources{
    @include clearfix();
    display: block;
    position: relative;
    padding: 2.5em 1em;
    background: linear-gradient(to bottom, #20a088 20%, #ffffff 40%, #ffffff 40%);

    ul{
      @include container(1600px);
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;

      .resource-item{
        @include span(12 of 12 split);
        display: block;
        position: relative;
        padding: 1.2em 1em;
        margin-bottom: 1em;
        text-align: center;
        background-color: #f6f6f6;
        @media screen and (min-width: $size-sm) and (max-width: $size-xxl){ @include span(6 of 12); margin-left:0; &:nth-child(2n+0){ margin-right: 0; }}
        @media screen and (min-width: $size-xxl){ @include span(3 of 12); margin-left:0; &:last-child{ margin-right: 0; } }

          .resource-title{
            font-size: 1.8em;
            margin: 0.25em 0 0.5em;
          }
          .resource-text{
            p{ margin: 0 0 1em; }
          }

          &:before{
            display: inline-block;
            font-family: $font__awesome;
            content: '';
            font-size: 2.5em;
            line-height: 1em;
            padding: 0.35em;
            background-color: #fff;
            border-radius: 50%;
          }

          &.item-1{
            border: 2px solid #903893;
            .resource-title{ color: #903893; }
            &:before { content: '\f0e8'; color: #903893; border: 3px solid #903893; }
          }

          &.item-2{
            border: 2px solid #00bcd4;
            .resource-title{ color: #00bcd4; }
            &:before { content: '\f0c0'; color: #00bcd4; border: 3px solid #00bcd4; }
          }

          &.item-3{
            border: 2px solid #e64949;
            .resource-title{ color: #e64949; }
            &:before { content: '\f040'; color: #e64949; border: 3px solid #e64949; }
          }

          &.item-4{
            border: 2px solid #1bbdb0;
            .resource-title{ color: #1bbdb0; }
            &:before {  content: '\f2b5'; color: #1bbdb0; border: 3px solid #1bbdb0; }
          }

      } //.resource-item
    } //resource-list

  }//#home-resources


  #home-index{
    background-color:#123b72;
    padding-top: 2em;
    position: relative;

    .index-wrap{
      @include clearfix();

      .entry-title{
        color: #f0f0f0;
      }
    }


    .index-container{

    }

  }

} //site-main
