#social-list li a[href*="facebook.com"]::before { content: '\f09a' !important; }
#social-list li a[href*="twitter.com"]::before { content: '\f099' !important; }
#social-list li a[href*="dribbble.com"]::before { content: '\f17d' !important; }
#social-list li a[href*="plus.google.com"]::before { content: '\f0d5' !important; }
#social-list li a[href*="pinterest.com"]::before { content: '\f0d2' !important; }
#social-list li a[href*="github.com"]::before { content: '\f09b' !important; }
#social-list li a[href*="tumblr.com"]::before { content: '\f173' !important; }
#social-list li a[href*="youtube.com"]::before { content: '\f167' !important; }
#social-list li a[href*="flickr.com"]::before { content: '\f16e' !important; }
#social-list li a[href*="vimeo.com"]::before { content: '\f194' !important; }
#social-list li a[href*="instagram.com"]::before { content: '\f16d' !important; }
#social-list li a[href*="linkedin.com"]::before { content: '\f0e1' !important; }

#pre-menubar{
  background-color: $color__navigation_pre;

  .nav-container{
    display: block;
    @include clearfix();
    font-size: 0.9em;
    padding: 0 3em;

    ul{
      @include clearfix();
      float: left;
      margin: 0;
      padding: 0 1em;
      height: $nav-preSize;
      line-height: $nav-preSize;
      list-style: none;

      border-right: 1px solid #e0e0e0;
      &:first-child{ padding-left: 0; }
      &:last-child{ padding-right: 0; border-right: none;}

      li{
        a{
          text-decoration: none;
        }
      }
    }

    #site-contact{
      #site-mail{
        display: inline-block;
        .email{ display: inline-block; }
        .email.name:before{ display: inline; content:'\f0e0'; font-family: $font__awesome; margin-right: 0.5em; }
        .email.name:after{ display: inline; content:'@'; margin-right: -0.25em; }
        .email.mail:after{ display: inline; content:'.'; margin-right: -0.25em; }


      }//#site-mail

      #site-phone{
        display: inline-block;
        .phone{ display: inline-block; }
        &:before{ display: inline; content:'\f095'; font-family: $font__awesome; margin: 0 0.5em 0 1em; }
      }

    }


    #social-list{
      li{
        display:inline-block;

        a {
          font-size: 1.3em;
          display: inline-block;
          padding: 0 0.25em;

          &:before{ font-family: $font__awesome; content:''; }
        }
      }
    }

    #lang-list{
      @include clearfix();
      float: right;
      text-transform: uppercase;


      li{
        display:inline-block;
        margin-right: 1em;
        height: 100%;
        &:last-child{ margin-right: 0; }
        a{ display: inline-block; height: 100%; }
      }
    }//#lang-list


  }//container-nav
}//#navbar-pre
