#navbar-main{
  font-family: $font__navigation;

  #nav-menubar{

    .container-nav{
      display:flex;

      .menu-toggle{
        display: none;
      }//menu-toggle

      #site-branding{
        flex:0 0 30%;

        .site-title{
          margin:0;
          @include font-size(3);
          line-height: 1em;
          font-weight: 700;
          a{ text-decoration: none; }
        }

        .site-description{
          @include font-size(0.8);
          margin:0;
          max-width: 200px;
        }
      }//#site-branding

      #nav-list{
        flex:0 0 70%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;

        @include font-size(1.125);
        font-weight: 700;
        list-style: none;
        margin:0;
        padding:0;
        text-transform: uppercase;

          li{
            position: relative;

            a{
              padding: 0.25em 0.5em;
              text-decoration: none;
            }

            ul.sub-menu{
              display: none;
            }//sub-menu

            &.menu-item-has-children{
              a{
                padding-right: calc(30px + 0.5em);
              }
            }//menu-item-has-children

            &.current-menu-item,
            &.current_page-item{
              a{
                border: 2px solid #000;
              }
            }//current-menu-item

            .dropdown-toggle{
              position: absolute;
              content: "";
              height: 2em;
              width: 2em;
              right: 10px;
              padding: 0;
              box-sizing: content-box;
              font-family: 'FontAwesome';
              text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
              background-color: $color__text-main;
              border: 1px solid #fff;
              color: #fff;

              &:after {
                @include font-size(0.9);
                content: "\f078";
                position: relative;
              }//after

              &:hover{
                color: $color__text-main;
                background-color: #fff;
                border: 1px solid $color__text-main;
              }//hover

              &:focus{ outline: none; }
            }//dropdown-toggle
          }//li
      }//#nav-container
    }//container-nav
  }//#nav-menu
}//#navbar-main
