#navbar-main{
  position: relative;
  font-family: $font__navigation;
  box-shadow: 0 4px 10px #333333;
  z-index:999;

  #nav-menubar{
    background-color:#fefefe;

    .nav-container{
      display:flex;
      height: 6.25em;
      padding: 0 1em;

      .menu-toggle{
        display: none;
      }//menu-toggle

      #site-branding{
        flex:0 0 35%;
        position: relative;
        display:flex;
        align-items: center;

        .logo{
          display:inline-block;
          position: relative;
          margin-right: 1em;
        }

        .site-info{
          display:inline-block;
          position: relative;

          .site-title{
            margin:0;
            font-size: 3em;
            max-width: 200px;
            line-height: 1em;
            font-weight: 700;
            a{ text-decoration: none; &:hover{ color: #1a8fb1; }}
          }

          .site-description{
            font-size: 0.8em;
            margin:0;
            max-width: 200px;
          }
        }

      }//#site-branding

      #nav-list{
        flex:0 0 65%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;

        font-size: 1.125em;
        font-weight: 700;
        list-style: none;
        margin:0;
        padding:0;
        text-transform: uppercase;

          li{
            @include clearfix();
            position: relative;
            padding:2em 0;

            a{
              padding: 0.25em 0.5em;
              text-decoration: none;
            }

            ul.sub-menu{
              display: none;
              position: absolute;
              top: 100%;
              right: 0;
              margin:0;
              padding:0;
              background-color: #fafafa;
              box-shadow: 5px 5px 5px #0f0f0f;
              list-style:none;

              li{
                padding: 0.25em;

                a{
                  display:block;
                  border: none;
                }
              }
            }//sub-menu

            &.menu-item-has-children{
              a{
                padding-right: 2.175em;
              }
            }//menu-item-has-children

            &.current-menu-item,
            &.current_page-item{
              a{
                border: 2px solid #000;
              }
            }//current-menu-item

            .dropdown-toggle{
              position: absolute;
              content: "";
              height: 1.75em;
              width: 1.75em;
              right: 0.625em;
              padding: 0;
              box-sizing: content-box;
              font-family: 'FontAwesome';
              text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
              background-color: $color__text-main;
              border: 1px solid #fff;
              color: #fff;

              &:after {
                font-size: 0.9em;
                content: "\f078";
                position: relative;
              }//after

              &:hover{
                color: $color__text-main;
                background-color: #fff;
                border: 1px solid $color__text-main;
              }//hover

              &:focus{ outline: none; }
            }//dropdown-toggle
          }//li
      }//#nav-container
    }//container-nav
  }//#nav-menu
}//#navbar-main
