html{
	&:lang(en-US){
		body, button, input, select, textarea{
			@include font-size(0.875);

			@media screen and (min-width: $size-md){ @include font-size(1); }
			@media screen and (min-width: $size-xxl){ @include font-size(1.125); }
		}
	}//en-US
	
	&:lang(ko-KR){
		body, button, input, select, textarea{
			@include font-size(1);

			@media screen and (min-width: $size-md){ @include font-size(1.125); }
			@media screen and (min-width: $size-xxl){ @include font-size(1.25); }
		}

	}//ko-KR
}//html


body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
