.index-blog{
  background-color:#efefef;
  min-height: 420px;
  padding-top: 2em;
} //blog-index

.index-container{
  //size in structure.scss
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;

  article{
    @include span(12 of 12 split);
    margin-bottom: 1.25em;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px #333333;
    border-radius: 5px;
    overflow: hidden;

    @media screen and (min-width: $size-sm) and (max-width: $size-lg){ @include span(6 of 12); margin-left: 0; &:nth-child(2n+0){ margin-right: 0; } }
    @media screen and (min-width: $size-lg) and (max-width: $size-xl){ @include span(4 of 12); margin-left: 0; &:nth-child(3n+0){ margin-right: 0; } }
    @media screen and (min-width: $size-xl){ @include span (3 of 12); margin-left: 0; &:nth-child(4n+0){ margin-right: 0; } }

    .index-image{
      img{
        display:block;
        width:100%;
        max-height: 180px;
        object-fit: cover;
        object-position: 50% 50%;
      }
    } //index-image

    .entry-header{
      .entry-title{
        margin: 0.5em 0;
        padding: 0 1em;
        line-height: 1.33;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        a{ text-decoration: none; }
      }

      .entry-meta{
        display: block;
        font-size: 0.9em;
        margin: 0 0 1em;
        padding: 0 0.75em;
        color: #808080;
        text-align: center;
      }
    }

    .entry-content{
      font-size: 0.9em;
      margin: 0 0 1.25em;
      padding: 0 1em;
      a{ text-decoration: none; p{ margin: 0; }}
    }
  } //article
} //container-index
