.single-container{

  .single-article{
    @include span(12 split);

    @media screen and (min-width: $size-lg) { @include span(8 no-gutters); }

    .featured-container{
      .featured-image{
        margin: 0 auto;
        img{ display: block; margin: 0 auto; }
      }
    }

    .entry-header{
      .entry-title{
        font-size: 2.2em;
        margin: 0.5em 0 0.25em;
      }
      .entry-meta{
        display: block;
        font-family: $font__header;
        padding: 1em 0;
        border-bottom: 1px solid #eeeeee;

        .meta{
          margin-right: 1em;

          &:before{
            font-family: $font__awesome;
            padding-right: 0.5em;
          }
        }

        .byline:before{ content:'\f007'; }
        .posted-on:before{ content:'\f272'; }
        .cat-links:before{ content:'\f02c'; }
      }
    }
  }//single-article
}//single-container
