.event-container{
  @include container(1000px);
  @include clearfix();
  padding: 2em 1em 0;

  .event-header{
    @include clearfix();
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4em;

    .left{
      display: block;
      @include span(12 of 12 0);
      @media screen and (min-width: $size-sm){ @include span(6 of 12 no-gutters); }
    }//.left

    .event-info{
      display: block;
      @include span(12 of 12 0);
      padding: 0.5em;
      text-align: center;

      &.right{
        text-align: left;
        @media screen and (min-width: $size-sm){ @include span(6 of 12 before); }
      }//.right
    }//.event-info

    .event-image{
      display: block;
      position: relative;

      img{
        display: block;
        width: 100%;
      }//img
    }//event-image

    .entry-title{
      font-size: 1.8em;
      margin: 0 0 0.25em;
      text-transform: uppercase;
      color:#19816e;
      text-shadow: 3px 3px 4px #dddddd;

      @media screen and (min-width: $size-sm){ font-size: 2em; }
    }//event-title

    .event-date{
      margin-bottom: 0.2em;

      .event-start{
        &:before{
          font-family: $font__awesome;
          content:'\f073';
          margin-right: 0.25em;
        }//before
      }//event-start
      .event-end{
        white-space:nowrap;
        &:before{
          font-family: $font__awesome;
          content:' - ';
        }//before
      }//event-end
    }//event-date

    .event-address{
      margin-bottom: 0.2em;
      &:before{
        font-family: $font__awesome;
        content: '\f278';
        margin-right: 0.25em;
      }//before
    }//.event-address
  }//event-header



  .event-description{
    @include container(1000px);
    .description-wrap{
      font-size: 1.1em;
      margin: 0 0 1em;
    }//.description-wrap
  }//.event-description
}//.event-container
