.single-container{
  margin-top: 1.5em;

  .single-article{
    @include span(12 split);
    background-color:#ffffff;
    padding:0 1em;

    @media screen and (min-width: $size-lg) { @include span(8 no-gutters); }

    .featured-container{
      margin:0 -1em;
      .featured-image{
        margin: 0 auto;
        img{ display: block; margin: 0 auto; }
      }
    }

    .entry-header{
      .entry-title{
        font-size: 2.4em;
        margin: 0.5em 0 0.25em;
        color:#19816e;
        text-shadow: 2px 2px 4px #dddddd;
      }
      .entry-meta{
        display: block;
        font-family: $font__header;
        padding: 1em;
        margin:0 -1em;
        border-bottom: 1px solid #eeeeee;

        .meta{
          margin-right: 1em;
          color: #121212;

          &:before{
            font-family: $font__awesome;
            padding-right: 0.5em;
            color: #25ab92;
          }

          a{
            color: #121212; text-decoration: none;
            &:hover{ color: #25ab92; }
          }
        }

        .byline:before{ content:'\f007'; }
        .posted-on:before{ content:'\f272'; }
        .cat-links:before{ content:'\f02c'; }
      }
    }
  }//single-article
}//single-container
