.single-container{
  margin-top: 1.5em;

  .single-article{
    @include span(12 split);
    background-color:#ffffff;
    padding:0 1em;

    .featured-container{
      margin:0 -1em;

      .featured-image{
        margin: 0 auto;
        img{ display: block; margin: 0 auto; }
      }
    }

    .entry-header{
      .entry-title{
        font-size: 2.6em;
        margin: 0.5em 0 0.25em;
        text-align: center;
        text-transform: uppercase;
        color:#19816e;
        text-shadow: 3px 3px 4px #dddddd;
      }
      .entry-meta{
        display: block;
        font-family: $font__header;
        padding: 1em;
        margin:0 -1em;
        text-align: center;
        border-bottom: 1px solid #eeeeee;

        .meta{
          margin-right: 1em;
          color: #121212;

          &:before{
            font-family: $font__awesome;
            padding-right: 0.5em;
            color: #19816e;
          }

          a{
            color: #121212; text-decoration: none;
            &:hover{ color: #25ab92; }
          }
        }

        .byline:before{ content:'\f007'; }
        .posted-on:before{ content:'\f272'; }
        .cat-links:before{ content:'\f02c'; }
      }//entry-meta
    }//entry-header

    .entry-footer{
      .tags-links{
        display: block;
        a{
          display: inline-block;
          margin-right: 0.75em;
          text-transform: uppercase;
          text-decoration: none;

          &:before{
            font-family: $font__awesome;
            content: '\f02b';
            margin-right: 0.33em;
            color: #19816e;
          }
        }

      }
      .edit-link{
        display: block;
        padding: 0.25em;
      }
    }
  }//single-article
}//single-container
