#navbar-main{
  #nav-menubar{
    display:flex;

    #site-branding{
      flex:0 0 20%;

      .site-title{
        font-weight: 700;
      }
    }//#site-branding

    #nav-list{
      flex:0 0 80%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;

      @include font-size(1.25);
      list-style: none;
      margin:0;
      padding:0;

        li{
          padding: 1em 0.5em;

          ul.sub-menu{
            display: none;
          }//sub-menu
        }//li

    }//#nav-container
  }//#nav-menu
}//#navbar-main
