// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content:'';
    display: table;
  } /*before, after*/

  &:after {
    clear: both;
  } //after
} //clearfix

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


@mixin centerX(){
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}


@mixin diag-before(){
	position: relative;
	overflow: hidden;

	&:before {
			content: '';
			position: absolute;
			width: 200%;
			height: 100%;
			background-color: rgb(255, 255, 255); /* fallback */
			background-color: rgba(0, 255, 255, 0.5);
			top: -100%;
			left: -20%;
			-webkit-transform: rotate(175deg);
			-moz-transform: rotate(175deg);
			transform: rotate(175deg);
	}
}

@mixin diag-after(){
	position: relative;
	overflow: hidden;

	&:after {
			content: '';
			position: absolute;
			left: 20%;
			width: 100%;
			height: 200%;
			background-color: rgb(255, 255, 255); /* fallback */
			background-color: rgba(255, 255, 255, 0.5);
			top: 0;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
	}
}
